#refreshButton {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
}

    #refreshButton:hover {
        background-color: green;
        opacity: 1;
    }
